.navbar {
    position: absolute;
    background: transparent;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    height: 3.3rem;
    width: 100%;
}

.logo {
    height: 3.3rem;
    width: 3.3rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.logo img {
    margin-top: 3px;
}

.linksWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 5.3rem);
}

.links,
.auth__links {
    display: flex;
    flex-direction: row;
    margin-left: .66rem;
    background: white;
    padding: .5rem;
    border-radius: 3rem;
}

.link {
    color: #2F251E;
    font-family: "KG PartOfMe", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .5rem .75rem;
    border-radius: 2rem;
    transition: all .2s ease-in-out;
    white-space: nowrap;
}

.link:hover {
    color: white;
    background: #564a42;
}

.link:not(:last-child) {
    margin-right: .5rem;
}

.active {
    color: white;
    background: #2F251E;
}

.auth__links > hr {
    height: 1.5rem;
    width: 1px;
    background: #2F251E;
    margin: .4rem .4rem .4rem 0;
}

.link__register {
    text-shadow: 0 0 1px #2F251E;
}
