@font-face {
    font-family: "KG PartOfMe";
    src: url("/fonts/KGPartofMe.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Acherus Feral Bold";
    src: url("/fonts/AcherusFeral-Bold.otf");
    font-style: normal;
}

@font-face {
    font-family: "Acherus Feral Light";
    src: url("/fonts/AcherusFeral-Light.otf");
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: bisque;
}

a {
    color: inherit;
    text-decoration: none;
}
